.footerLinksContainer {
	display: flex;
	flex-direction: column;
}

.heading {
	font-weight: 700;
	font-size: 2rem;
	color: white;
}

.link {
	text-decoration: none;
	font-size: 1.8rem;
	color: hsl(0, 0%, 75%);
}

.link:hover {
	color: cyan;
}
